.dateTimePickerWrapper {
  position: absolute;
  background: white;
  color: black;
  outline: solid 1px;
  outline-color: #c90000;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black;
  border-width: 1px;
  text-align: center;
  font-size: 15px;
  overflow: hidden;
  width: 259px; }
  .dateTimePickerWrapper .weekend {
    background: #ddd; }
  .dateTimePickerWrapper .bufferDay {
    color: #9d9d9d; }
  .dateTimePickerWrapper .today {
    background: #989898; }
  .dateTimePickerWrapper .selectedHour {
    background: #880000; }
  .dateTimePickerWrapper .selectedMinute {
    background: #880000; }
  .dateTimePickerWrapper .selectedAmPm {
    background: #880000; }
  .dateTimePickerWrapper .selectedDay {
    background: #880000; }
  .dateTimePickerWrapper .hour, .dateTimePickerWrapper .minute, .dateTimePickerWrapper .weekday, .dateTimePickerWrapper .weekend, .dateTimePickerWrapper .headerRow, .dateTimePickerWrapper .daysRow, .dateTimePickerWrapper .bufferDay {
    line-height: 20px;
    height: 20px; }
  .dateTimePickerWrapper .prevYear, .dateTimePickerWrapper .prevMonth, .dateTimePickerWrapper .nextMonth, .dateTimePickerWrapper .nextYear, .dateTimePickerWrapper .weekend, .dateTimePickerWrapper .weekday, .dateTimePickerWrapper .hour, .dateTimePickerWrapper .minute, .dateTimePickerWrapper .amSelector, .dateTimePickerWrapper .pmSelector, .dateTimePickerWrapper .closeSelector {
    cursor: pointer; }
  .dateTimePickerWrapper .headerRow, .dateTimePickerWrapper .daysRow {
    border-bottom: solid 1px black;
    float: left;
    clear: left;
    width: 259px; }
  .dateTimePickerWrapper .headerRow {
    background-color: #ececec;
    border-top: solid 1px black; }
    .dateTimePickerWrapper .headerRow .prevYear, .dateTimePickerWrapper .headerRow .prevMonth, .dateTimePickerWrapper .headerRow .nextMonth, .dateTimePickerWrapper .headerRow .nextYear, .dateTimePickerWrapper .headerRow .monthName {
      float: left; }
    .dateTimePickerWrapper .headerRow .prevYear, .dateTimePickerWrapper .headerRow .prevMonth, .dateTimePickerWrapper .headerRow .nextMonth, .dateTimePickerWrapper .headerRow .nextYear {
      width: 32px; }
    .dateTimePickerWrapper .headerRow .monthName {
      width: 131px; }
  .dateTimePickerWrapper .daysRow {
    background-color: #cacaca; }
    .dateTimePickerWrapper .daysRow .dayHeading {
      float: left;
      width: 37px; }
  .dateTimePickerWrapper .dayHover {
    background-color: pink; }
  .dateTimePickerWrapper .weekend, .dateTimePickerWrapper .weekday, .dateTimePickerWrapper .bufferDay {
    float: left;
    width: 37px; }
  .dateTimePickerWrapper .minuteHeading, .dateTimePickerWrapper .hourHeading {
    width: 100%;
    border-bottom: solid 1px black; }
  .dateTimePickerWrapper .hourSelector, .dateTimePickerWrapper .minuteSelector {
    width: 129px;
    float: left;
    border-top: solid 1px black; }
  .dateTimePickerWrapper .hourSelector {
    clear: left; }
  .dateTimePickerWrapper .minuteSelector {
    border-left: solid 1px black; }
  .dateTimePickerWrapper .hour, .dateTimePickerWrapper .minute {
    width: 43px;
    float: left; }
  .dateTimePickerWrapper .amSelector, .dateTimePickerWrapper .pmSelector {
    border-top: solid 1px black;
    float: left; }
  .dateTimePickerWrapper .amSelector {
    width: 64px; }
  .dateTimePickerWrapper .pmSelector {
    width: 64px;
    border-left: solid 1px black; }
  .dateTimePickerWrapper .closeSelector {
    width: 129px;
    float: left;
    border-top: solid 1px black; }
